.siderbar{
  height: 100%;
  overflow: hidden;
  background-color: #FFFFFF!important;
  .siderbar-scrollbar {
    height: 100%;
    background-color:@menu-color;
    box-shadow: 1px 10px 1px 10px rgba(0,0,0,0.2);
    margin-right: 1px;
  }
  //图标--打开时的颜色
  .el-submenu__icon-arrow{
    font-weight: bold!important;
    font-size: 14px!important;
    margin-top: -6px!important;
    color: #BDCFDF !important;
    transform: rotate(-90deg);
  }
  .el-submenu.is-active.is-opened{
    .el-submenu__icon-arrow{
      color: rgba(222, 184, 135, 0.71) !important;
    }
  }
  .el-submenu.is-opened{
    .el-submenu__title{
      .el-submenu__icon-arrow.el-icon-arrow-down{
        color: #BDCFDF !important;
        transform: rotate(0deg);
      }
    }
  }
  .el-scrollbar__view {
    .el-menu {
      .menu-tree {
        // 没有孩子，单独一个菜单
        .el-menu-item {
          &:hover{
            background-color: @sub-menu-color-activate!important;
            opacity: 0.8;
          }
          //激活颜色
          &.is-active {
            color: #fff;
            background-color: @sub-menu-color-activate!important;
            /*icon样式*/
            i {
              color: @sign-menu-icon-color-activate;
            }
          }
        }
        // 存在父级菜单
        .el-submenu {
          // 父级菜单title
          .el-submenu__title {
            height: @menu-title-hg;
            line-height: @menu-title-hg;
            background-color:@menu-color;
            padding-left: 20px
          }
          // 父级菜单菜单容器
          .el-menu {
            //background-color: #242732!important;
            .el-menu-item {
              background-color: #242732!important;
              line-height: @sub-menu-title-hg;
              height: @sub-menu-title-hg;
              padding-left:  55px!important;
              border-right: 1px solid transparent;
              //跟上面重复
              &:hover{
                background-color: @sub-menu-color-activate!important;
                opacity: 0.8;
              }
              //激活颜色
              &.is-active {
                color: #fff;
                background-color: @sub-menu-color-activate!important;
                /*icon样式*/
                i {
                  color: @sign-menu-icon-color-activate;
                }
              }
            }
          }
          // 当前激活状态，也就是选择状态
          &.is-active {

          }
          // 当前打开状态
          &.is-opened {
            /*icon样式*/
            .menu-collapse {
              color: @menu-icon-hove-color;
            }
          }
        }
        // icon样式
        .icon-img {
          margin-right: 5px;
          width: 14px;
          height: 14px;
          color: @menu-icon-color;
          &.menu-collapse {
            &:hover {
              color: @menu-icon-hove-color;
            }
          }
        }
      }
      // 收缩菜单样式
      &.el-menu--collapse {
        .el-submenu {
          //激活状态
          &.is-active {
            .el-submenu__title {
              .icon-img {
                color: @primary-main-color
              }
            }
          }
        }
      }
    }
  }
}
/*收起状态样式覆盖*/
.el-menu--popup {
  .el-menu-item {
    height: @sub-menu-title-hg;
    line-height: @sub-menu-title-hg;
    padding-left: 10px!important;
    padding-right: 10px;
    &.is-active {
      background-color: @primary-main-color!important;
      color: #fff;
    }
  }
}