.zj-w-20 {
  width: 20px;
}
.zj-w-30 {
  width: 30px;
}
.zj-pw-100 {
  width: 100%;
}
.zj-h-28 {
  height: 28px;
  line-height: 28px;
}

.zj-h-35 {
  height: 35px;
  line-height: 35px;
}
.w100{
  width: 100% !important;
}
.w100px{
  width: 100px!important;
}

.w250px{
  width: 250px!important;
}
.w500px{
  width: 500px!important;
}

.w50px{
  width: 50px!important;
}
.w-c-100_50px{
  width: calc(100% - 50px) !important;
}
.w200px{
  width: 200px!important;
}
.w-c-100_200px{
  width: calc(100% - 200px) !important;
}
.w120px{
  width: 120px!important;
}
.left75px{
  left: 75px;
}
.left50px{
  left: 50px;
}
.left108px{
  left: 108px;
}
.left92px{
  left: 92px;
}
.left94px{
  left: 94px;
}
.left250px{
  left: 250px;
}
.h-c-100_50{
  height: calc(100% - 50px)!important;
}
.h400px{
  height: 400px!important;
}
.mah48px{
  max-height: 48px;
}
.lh-50{
  line-height: 50px!important;
}
.tf-x_30{
  transform: translateX(-30px);
}
//按钮宽度
.btn-w85{
  button{
    width: 85px;
  }
}