@font-face {
  font-family: "iconfont"; /* Project id 2444796 */
  src: url('font_2444796_8bovx9gbc8h.woff2?t=1626165795201') format('woff2'),
       url('font_2444796_8bovx9gbc8h.woff?t=1626165795201') format('woff'),
       url('font_2444796_8bovx9gbc8h.ttf?t=1626165795201') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiazai1:before{
  content: "\e7bd";
}

.icon-shangchuan:before {
  content: "\e66f";
}

.icon-zhaobiaopaimai:before {
  content: "\e8bd";
}

.icon-dianhua:before {
  content: "\e63e";
}

.icon-xiazai:before {
  content: "\e86f";
}

.icon-info:before {
  content: "\e600";
}


.icon-huiyuanfazhanqushi{
  font-size: 22px!important;
  display: inline-block;
  transform: translateY(3px) !important;
}
.icon-huiyuanfazhanqushi:before {
  content: "\e614";
}


.icon-daochu{
  display: inline-block;
  transform: translateY(1px) !important;
}
.icon-daochu:before {
  content: "\e65d";
}


.icon-daoru{
  display: inline-block;
  transform: translateY(1px) !important;
}
.icon-daoru:before {
  content: "\e65e";
}

.icon-ziyuan{
  display: inline-block;
  transform: translateY(1px) !important;
}
.icon-ziyuan:before {
  content: "\e63f";
}

.icon-bukejian{
  display: inline-block;
  transform: translateY(1px) !important;
}
.icon-bukejian:before {
  content: "\e607";
}

.icon-fapiaodai_shuiwueguan:before {
  content: "\e63b";
}
.icon-fapiaodai_shuiwueguan:before {
  content: "\e607";
}

.icon-dayin:before {
  content: "\e7dd";
}

.icon-yanjing_huaban1:before { /*天眼查*/
  content: "\e663";
}
.icon-orbit-full:before { /*融单轨迹*/
  content: "\ea06";
}
.icon-jiaoyi:before { /*融单*/
  content: "\e67f";
}
.icon-tupiansucaiku1x:before { /*贸易背景*/
  content: "\e601";
}
.icon-wenjian:before { /*当前贸易资料*/
  content: "\e664";
}
.icon-danganziliao:before { /*底层贸易资料*/
  content: "\e624";
}
.icon-kehujiaoyixinxi:before { /*持有到期返还/补扣详情*/
  content: "\e634";
}