@import "~@assets/less/variables";
/*覆写样式*/
.loginBody {
  .el-input--prefix {
    .el-input__inner {
      padding-left: 22px;
      background-color: #fff!important;
      &:focus {
        border-color: @primary-main-color;
        background-color: #FFFFFF!important;
      }
    }
  }
  .el-input__prefix {
    right: auto;
    left: 5px;
    top: 10px;
  }
  .password-block {
    .el-form-item__error {
      position: absolute;
      top: 35px;
    }
  }
  //验证码
  .login-code{
    .el-input-group__append{
      border: none;
      background: none ;
      padding-left: 0;
      width: 37%;
    }
    /*小屏适配问题*/
    @media only screen and (max-width: 1400px) {
      .el-input-group__append{
        width: 47%;
      }
    }
  }
}