/*---------------------------------------  2.0查询页whl ↓ -----------------------------------------------------------*/

/*---------------------------------------  2.0查询页whl ↑ -----------------------------------------------------------*/
/*----------------------查询页----------------------------*/
/* el-form ---》 vxe-table */
.searchForm{
  padding: 20px 20px 30px;
  label{
    width: 130px;
  }
  .el-input{
    width: 260px;
  }
  .searchForm-button-row{
    padding-top: 5px;
    text-align: center;
    &.w120{
      .vxe-button{
        width: 125px;
        border-radius: 12px;
      }
    }
    .vxe-button:active{
      box-shadow: none;
      transform: translateY(1px);
    }
    .vxe-button{
      //border-radius: 12px;
      &.green{ /* 浅绿的按钮 */
        border-color: #9df8cc;
        background-color: #30ac6a;
        color: white;
        &:hover{
          background-color: #40c67f;
          color: #F5F5F5;
        }
      }
      &.blue{ /* 浅蓝的按钮 */
        border-color: #4092e3;
        background-color: @primary-main-color;
        color: white;
        &:hover{
          background-color: #61acf8;
        }
      }

    }
  }
  /*searchForm --> datePicker*/
  .searchForm-datePicker{
    width: 100%;
    .el-date-editor{
      width: 120px!important;
      .el-icon-circle-close{
        border-radius: 50%;
      }
    }
    span{
      display: inline-block;
      text-align: center;
      width: 20px;
    }
  }
  /*el-form-item*/
  .el-form-item.m-b-8{
    margin-bottom: 8px!important;
  }
  /*选项表单的复选框*/
  .searchForm-checkbox-row{
    padding: 6px 0 13px 10px;
    .el-checkbox{
      width: auto;
    }
  }
}
/* --vxe-table配合el-form的  表单*/
.searchTable{
  margin: 0 20px;
}
/* vxe-table下方的添加按钮 */
.table-row-add{
  text-align: center;
  margin-bottom: 4px;
  .el-icon-circle-plus{
    color: #409EFF;
    font-size: 28px;
    cursor: pointer;
    &:active{
      transform: translateY(1px);
    }
  }
}
.vxe-body--column,.col--edit,.vxe-cell,.c--tooltip{
  //height: auto!important;
}
/*----------------------查询页----------------------------*/
/** 搜索栏上的快速切换栏 **/
.zj-search-text-btn {
  .text-btn {
    display: inline-block;
    font-size: 13px;
    text-align: center;
    color: #999;
    padding: 0 15px;
    cursor: pointer;
    transition: 0.1s;
    float: left;
    margin-top: 10px;
    background-color: #fff;
    height: 24px;
    line-height: 24px;
    border-radius: 12px;
    &:hover {
      color: @primary-main-color;
    }
    &.active {
      background-color: @primary-main-color;
      color: #fff;
      &:first-child {
        border-left: 0;
      }
    }
  }
  .text-btn+.text-btn {
    margin-left: 10px;
  }
}

.zj-search-response{
  background-color: white;
  .table-mixin()
}

.zj-table{
  .vxe-button{
    width: auto!important;
  }
}

.vxe-button.main{
  border:1px solid @primary-main-color;
  background:@primary-main-color;
  color: white;
  &:hover{
    background-color: white!important;
    color: #5494f2!important;
  }
}


//表格
.vxe-header--row{
  .vxe-cell{
    padding: 0!important;
    .vxe-cell--title{
      display: inline-block;
      width: 100%;
      font-size: 12px!important;
    }
  }
}

//按钮
.mainButton{
  background: @primary-main-color;
  border-color: @primary-main-color;
  color: #fff!important;
  &:hover{
    background: @primary-main-color!important;
    border-color: @primary-main-color!important;
    color: #fff;
    opacity: 0.8;
  }
  &:focus{
    background: @primary-main-color!important;
    border-color: @primary-main-color !important;
    color: #fff;
    opacity: 0.8;
  }
}

.hoverColor{
  &:hover{
    color: @primary-main-color!important;
  }
}