/*---------------------------------------  2.0查询页whl ↓ -----------------------------------------------------------*/
//表格
.vxe-header--row{
  .vxe-cell{
    padding: 0!important;
    .vxe-cell--title{
      display: inline-block;
      width: 100%;
      font-size: 12px!important;
    }
  }
}