@primary-main-color: #165DFF;// 主色调#1199C4
@danger-color: #ed5c48;//
@white-color:#FFFFFF;//白色
@black-color:#000000;//黑色
@text-color: #333333;//标题，正文文字，对应T1文字类型
@text-muted-color: #999999;//描述
@sub-color-light:#5494f2;//浅蓝色（主要用于左边标题和radio，按钮，checkbox等背景，次颜色）#5494f2
@sub-text-color-light:#409EFF;//浅蓝色（主要用于左边标题和radio，按钮，checkbox等字体，次颜色）#409EFF
//左边菜单
//整个菜单背景色
@menu-color: #2D313F;
//整个菜单文字颜色,暂时没用到
@menu-font-color: @white-color;
//菜单激活父菜单背景色,暂时没用到
@menu-color-activate: #F6F5F6;
//菜单激活父菜单文字颜色,暂时没用到
@menu-activate-font-color: @black-color;
//菜单激活背景色
@sub-menu-color-activate: @primary-main-color;
// 菜单激活文字颜色,暂时没用到
@sub-menu-activate-font-color: @white-color;
// 父级菜单title
@menu-title-hg: 40px;
// 子级菜单title
@sub-menu-title-hg: 40px;
//菜单icon颜色
@menu-icon-color: @white-color;
// 菜单hove icon颜色,收缩的时候
@menu-icon-hove-color:@primary-main-color;
// 菜单icon颜色
@sign-menu-icon-color-activate: @sub-menu-activate-font-color;
//tabs标签
@tabs-nav-color:#999999;
//顶部栏
@navbar-bg:@white-color;//顶部栏背景色
@navbar-right-text-color:#909399;//顶部栏左边文字图标颜色
// 暂时用不到
@navbar-hg:50px;//顶部栏高度
@navbar-logo-hg:52px;//顶部栏logo高度
@navbar-img-wd: 160px;//顶部栏logo宽度
@navbar-img-hg: 24px;//顶部栏logo高度


//字体粗细
//中粗
@font-weight-600:600;
//常规
@font-weight-400:400;

//导航
@font-nav-color:@primary-main-color;
//标题正文
@font-title-color:@text-color;
//正文
@font-text-color:#666666;
//描述
@font-des-color:@text-muted-color;
//禁用占位
@font-disable-color:#BFBFBF;

//字体浅色

//导航
@font-nav-color:@white-color;
//标题正文
@font-title-color:@white-color;
//正文
@font-text-color:#D9D9D9;
//描述
@font-des-color:#A6A6A6;
//禁用占位
@font-disable-color:#737373;

// 日期选择器样式变量
@date-primary-color:@primary-main-color;
@date-hover-color:#CCE4FF;

//时间选择器
@time-primary-color:@primary-main-color;
@time-hover-color:#CCE4FF;

//弹窗
@alert-background:@white-color;
@alert-primary-color:@primary-main-color;
@alert-boder-color:#F0F0F0F0;

//下拉菜单
@drop-primary-color:@primary-main-color;
@drop-hover-color:rgb(245,245,245);

//element-checkbox,radio选中颜色
@el-radio-check-bg: @sub-color-light;// 勾选状态border和背景色
@el-radio-check-inner-bg: @sub-color-light;// 内部原点背景色
@el-radio-check-text-color: @text-color;//选中文字颜色#409EFF
@el-checkbox-check-bg: @sub-color-light;// 勾选状态border和背景色
@el-checkbox-check-text-color:@text-color;//选中文字颜色#409EFF
@el-checkbox-disabled-bg: #F0F0F0F0;// 勾选状态border和背景色
@el-checkbox-disabled-border-color: #D9D9D9;// 勾选状态border和背景色
@el-checkbox-disabled-text-color:#BFBFBF;//选中文字颜色
//页面左边标题border颜色
@left-title-border-color: @sub-color-light;
