#ZjWorkflow{
  // box-shadow: 0px 3px 5px #eee;
  background: rgb(255, 255, 255);
  // position: absolute;
  // top: 15px;
  // right: 15px;
  // z-index:99;
  margin-top: -15px;
  margin-bottom: 15px;
  border-bottom: solid 1px #DCDFE6;
  &.lFalse{
    left: 15px;
  }
  &.lTrue{
    left: 65px;
  }
  .workflow-top{
    &:after{
      content: '';
      display: block;
      clear: both;
    }
  }
  .workflow-bottom{
    padding: 5px;
    &:after{
      content: '';
      display: block;
      clear: both;
    }
    ul{
	  float: left;
      li{
        float: left;
        padding: 2px 18px;
        border-right: 1px solid silver;
        &:last-child{
          border-right: none;
        }
        span{
          cursor: pointer;
          font-size: 16px;
          &.wfActive{
            color:@primary-main-color;
          }
        }
      }
    }
	.right{
	  position: fixed;
      bottom: 0;
      left: 215px;
      right: 15px;
      box-shadow: 0px -3px 5px #eee;
      background: rgb(255, 255, 255);
      padding: 5px;
      display: flex;
      justify-content: center;
      z-index: 99;
	}
  }
}